-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 86.105.14.19    Database: torneio2_torneioldschool
-- ------------------------------------------------------
-- Server version	10.11.10-MariaDB-cll-lve

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `giocatori`
--

DROP TABLE IF EXISTS `giocatori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `giocatori` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `cognome` varchar(255) NOT NULL,
  `ruolo` varchar(100) NOT NULL,
  `presenze` int(11) NOT NULL DEFAULT 0,
  `reti` int(11) NOT NULL DEFAULT 0,
  `assist` int(11) NOT NULL DEFAULT 0,
  `gialli` int(11) NOT NULL DEFAULT 0,
  `rossi` int(11) NOT NULL DEFAULT 0,
  `media_voti` decimal(4,2) DEFAULT NULL,
  `foto` varchar(255) NOT NULL DEFAULT '/torneioldschool/img/giocatori/unknown.jpg',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `utente_id` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_giocatore_utente` (`utente_id`),
  CONSTRAINT `fk_giocatore_utente` FOREIGN KEY (`utente_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1284 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giocatori`
--

LOCK TABLES `giocatori` WRITE;
/*!40000 ALTER TABLE `giocatori` DISABLE KEYS */;
/*!40000 ALTER TABLE `giocatori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `squadre_giocatori`
--

DROP TABLE IF EXISTS `squadre_giocatori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `squadre_giocatori` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `squadra_id` int(10) unsigned NOT NULL,
  `giocatore_id` int(10) unsigned NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `ruolo` varchar(100) NOT NULL,
  `presenze` int(10) unsigned NOT NULL DEFAULT 0,
  `reti` int(10) unsigned NOT NULL DEFAULT 0,
  `assist` int(10) unsigned NOT NULL DEFAULT 0,
  `gialli` int(10) unsigned NOT NULL DEFAULT 0,
  `rossi` int(10) unsigned NOT NULL DEFAULT 0,
  `media_voti` decimal(4,2) DEFAULT NULL,
  `is_captain` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_squadra_giocatore` (`squadra_id`,`giocatore_id`),
  KEY `idx_sg_giocatore` (`giocatore_id`),
  CONSTRAINT `fk_sg_giocatore` FOREIGN KEY (`giocatore_id`) REFERENCES `giocatori` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sg_squadra` FOREIGN KEY (`squadra_id`) REFERENCES `squadre` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `squadre_giocatori`
--

LOCK TABLES `squadre_giocatori` WRITE;
/*!40000 ALTER TABLE `squadre_giocatori` DISABLE KEYS */;
/*!40000 ALTER TABLE `squadre_giocatori` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-17 10:09:43
